@import "~bootswatch/dist/litera/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/litera/bootswatch";


.green {
  background-color: #8dca90
}

.amber {
  background-color: #fdbb62
}

.red {
  background-color: #ec6d73
}
